* {
    font-family:Merriweather Sans,-apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,sans-serif;;
    color: #113a5b;
    background-color:#113a5b;
    
}

td, th{
    border:solid black 1px;
    padding:10px;
    color:black;
    font-size:100%;
    overflow: hidden;
    
}

table {
    table-layout:fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right:auto;
    color:black;
    width:100%;
}

.owes{
    color:red;
}

.owed{
    color:green;
}

.people {
    width:32%;
}

#wrapper{
    align-content: center;
    padding:2%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    width:90%;
    background-color:white;
    
}

#logo{
    height:10vh;
    
}

h1{
    background-color: white;
    display:inline;
}

p, input, b, #tblCosts, table,h2,#noWeeks, td, th, #names, #tblOutput, span {
    background-color: white;
}

.btn {
    background-color: #113a5b;
  border: none;
  border-radius: 30px;
  color: yellow;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
